<ul class="location-dropdown__list" data-controller="home">
  <li>
    <a data-id="all" data-name="semua lokasi" data-type="all">
      Semua Lokasi
    </a>
  </li>
  <li>
    <a data-id="17" data-name="Aceh" data-type="state">
      Aceh
    </a>
  </li>
  <li>
    <a data-id="13" data-name="Bali" data-type="state">
      Bali
    </a>
  </li>
  <li>
    <a data-id="8" data-name="Banten" data-type="state">
      Banten
    </a>
  </li>
  <li>
    <a data-id="21" data-name="Bengkulu" data-type="state">
      Bengkulu
    </a>
  </li>
  <li>
    <a data-id="1" data-name="DKI Jakarta" data-type="state">
      DKI Jakarta
    </a>
  </li>
  <li>
    <a data-id="18" data-name="Gorontalo" data-type="state">
      Gorontalo
    </a>
  </li>
  <li>
    <a data-id="14" data-name="Jambi" data-type="state">
      Jambi
    </a>
  </li>
  <li>
    <a data-id="2" data-name="Jawa Barat" data-type="state">
      Jawa Barat
    </a>
  </li>
  <li>
    <a data-id="4" data-name="Jawa Tengah" data-type="state">
      Jawa Tengah
    </a>
  </li>
  <li>
    <a data-id="3" data-name="Jawa Timur" data-type="state">
      Jawa Timur
    </a>
  </li>
  <li>
    <a data-id="28" data-name="Kalimantan Barat" data-type="state">
      Kalimantan Barat
    </a>
  </li>
  <li>
    <a data-id="26" data-name="Kalimantan Selatan" data-type="state">
      Kalimantan Selatan
    </a>
  </li>
  <li>
    <a data-id="12" data-name="Kalimantan Tengah" data-type="state">
      Kalimantan Tengah
    </a>
  </li>
  <li>
    <a data-id="7" data-name="Kalimantan Timur" data-type="state">
      Kalimantan Timur
    </a>
  </li>
  <li>
    <a data-id="34" data-name="Kalimantan Utara" data-type="state">
      Kalimantan Utara
    </a>
  </li>
  <li>
    <a data-id="15" data-name="Kep. Bangka Belitung" data-type="state">
      Kep. Bangka Belitung
    </a>
  </li>
  <li>
    <a data-id="9" data-name="Kep. Riau" data-type="state">
      Kep. Riau
    </a>
  </li>
  <li>
    <a data-id="16" data-name="Lampung" data-type="state">
      Lampung
    </a>
  </li>
  <li>
    <a data-id="30" data-name="Maluku" data-type="state">
      Maluku
    </a>
  </li>
  <li>
    <a data-id="31" data-name="Maluku Utara" data-type="state">
      Maluku Utara
    </a>
  </li>
  <li>
    <a data-id="22" data-name="Nusa Tenggara Barat" data-type="state">
      Nusa Tenggara Barat
    </a>
  </li>
  <li>
    <a data-id="29" data-name="Nusa Tenggara Timur" data-type="state">
      Nusa Tenggara Timur
    </a>
  </li>
  <li>
    <a data-id="19" data-name="Papua" data-type="state">
      Papua
    </a>
  </li>
  <li>
    <a data-id="32" data-name="Papua Barat" data-type="state">
      Papua Barat
    </a>
  </li>
  <li>
    <a data-id="24" data-name="Riau" data-type="state">
      Riau
    </a>
  </li>
  <li>
    <a data-id="33" data-name="Sulawesi Barat" data-type="state">
      Sulawesi Barat
    </a>
  </li>
  <li>
    <a data-id="11" data-name="Sulawesi Selatan" data-type="state">
      Sulawesi Selatan
    </a>
  </li>
  <li>
    <a data-id="27" data-name="Sulawesi Tengah" data-type="state">
      Sulawesi Tengah
    </a>
  </li>
  <li>
    <a data-id="25" data-name="Sulawesi Tenggara" data-type="state">
      Sulawesi Tenggara
    </a>
  </li>
  <li>
    <a data-id="20" data-name="Sulawesi Utara" data-type="state">
      Sulawesi Utara
    </a>
  </li>
  <li>
    <a data-id="23" data-name="Sumatera Barat" data-type="state">
      Sumatera Barat
    </a>
  </li>
  <li>
    <a data-id="10" data-name="Sumatera Selatan" data-type="state">
      Sumatera Selatan
    </a>
  </li>
  <li>
    <a data-id="5" data-name="Sumatera Utara" data-type="state">
      Sumatera Utara
    </a>
  </li>
  <li>
    <a data-id="6" data-name="Yogyakarta" data-type="state">
      Yogyakarta
    </a>
  </li>
</ul>