<footer class="main-footer">
  <section class="row full-width top-footer">
    <div class="container">
      <div class="col-12">
        <div class="portalnews">
          <ul class="portalnews__logo">
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Antara" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-antaranews-811659b98b122bc9a0899feba095a160de1fac47048225acd607b66ba76f02d5.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di DailySocial" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-dailysocial-6da4f85c08f38bcf91d4b59a5d90bd8c88ecbbe26287c3c1080c487aff6f4362.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Detik News" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-detik-c59659167df26fc73bcbeab848df7e37ccbf421c42ef3b796b458dc4389f9cc6.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Dream.co.id" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-dreamcoid-a72afa2953ef6c6ea091b39987a288547f9420175dc55da52a4d38619991cf51.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Liputan6" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-liputan6-3cfe7026b538d0abf01e0e10011e1e20662bfa4bf89f5456204bc33464a17938.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Merdeka" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-merdeka-8860f59f555c5f15bc8ae9c16f7bf767f174d2e39abfc9b0aa5eba83cdb612eb.png">
              </a>
            </li>
            <li class="portalnews__logo-image">
              <a href="https://blog.jualo.com/category/press" target="_blank">
                <img alt="Berita Jualo.com di Antara TechInAsia" class="center-block"
                  src="https://www.jualo.com/assets/milan_version/news-techinasia-51cbe0ffde166fb652d65140d6bd11679bc2de735dc95a8076ba6af03afc4988.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-5">
        <div class="footer-content">
          <h4 class="footer-content__heading">Kategori</h4>
          <ul class="list-unstyled ul-tc">
            <li>
              <a href="/motor">
                Motor
              </a>
            </li>
            <li>
              <a href="/mobil">
                Mobil
              </a>
            </li>
            <li>
              <a href="/properti">
                Properti
              </a>
            </li>
            <li>
              <a href="/fashion">
                Fashion
              </a>
            </li>
            <li>
              <a href="/handphone-dan-gadget">
                Handphone &amp; Gadget
              </a>
            </li>
            <li>
              <a href="/kamera">
                Kamera
              </a>
            </li>
            <li>
              <a href="/jasa-dan-pekerjaan">
                Jasa &amp; Pekerjaan
              </a>
            </li>
            <li>
              <a href="/komputer-dan-elektronik">
                Komputer &amp; Elektronik
              </a>
            </li>
            <li>
              <a href="/hobi-dan-aktivitas-outdoor">
                Hobi &amp; Aktivitas Outdoor
              </a>
            </li>
            <li>
              <a href="/kesehatan-dan-kecantikan">
                Kesehatan &amp; Kecantikan
              </a>
            </li>
            <li>
              <a href="/rumah-tangga-dan-industri">
                Rumah Tangga &amp; Industri
              </a>
            </li>
            <li>
              <a href="/perlengkapan-ibu-dan-anak">
                Perlengkapan Ibu &amp; Anak
              </a>
            </li>
            <li>
              <a href="/acara-dan-hiburan">
                Acara dan Hiburan
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-content">
          <h4 class="footer-content__heading">Navigasi</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://bisnis.jualo.com">Jualo Bisnis</a>
            </li>
            <li>
              <a href="https://blog.jualo.com">Blog Jualo</a>
            </li>
            <li>
              <a href="/forms/contact_us">Layanan Pelanggan</a>
            </li>
            <li>
              <a href="/informasi">Informasi Jualo</a>
            </li>
            <li>
              <a href="/tanyajualo">Tanya Jualo</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-content">
          <h4 class="footer-content__heading">Artikel Terbaru</h4>
          <ul class="list-unstyled">
            <li class="rss_feed">
              <a href="https://blog.jualo.com/menengok-persaingan-mobil-terlaris-di-indonesia-pada-januari-2018/">
                Menengok Persaingan Mobil Terlaris di Indonesia pada Januari 2018
              </a>
              <p>19 February, 2018 08:53</p>
            </li>
            <li class="rss_feed">
              <a href="https://blog.jualo.com/new-sirion-jadi-produk-terbaru-daihatsu-2018/">
                All New Sirion Jadi Produk Terbaru Daihatsu 2018
              </a>
              <p>14 February, 2018 09:34</p>
            </li>
            <li class="rss_feed">
              <a href="https://blog.jualo.com/honda-cbr1000rr-sp/">
                Motor Honda CBR1000RR SP Mulai Mengaspal di Indonesia
              </a>
              <p>12 February, 2018 10:10</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="row full-width mid-footer">
    <div class="container">
      <hr>
      <div class="col-12">
        <div class="footer-content">
          <h5>Jual Beli Motor di</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/motor/baru-dan-bekas/dki-jakarta">Jakarta</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-surabaya">Surabaya</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-medan">Medan</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-bandung">Bandung</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-makassar">Makassar</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-pekanbaru">Pekanbaru</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-semarang">Semarang</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-palembang">Palembang</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-tangerang">Tangerang</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-depok">Depok</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-denpasar">Denpasar</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-banjarmasin">Banjarmasin</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-tangerang-selatan">Tangerang Selatan</a>
            </li>
            <li>
              <a href="/motor/baru-dan-bekas/kota-yogyakarta">Yogyakarta</a>
            </li>
          </ul>
          <br>
          <h5>Jual Beli Mobil di</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/mobil/bekas-dan-baru/dki-jakarta">Jakarta</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-medan">Medan</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-surabaya">Surabaya</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-makassar">Makassar</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-bandung">Bandung</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-palembang">Palembang</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-banjarmasin">Banjarmasin</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-malang">Malang</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-balikpapan">Balikpapan</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-yogyakarta">Yogyakarta</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-semarang">Semarang</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-palu">Palu</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-bekasi">Bekasi</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-denpasar">Denpasar</a>
            </li>
            <li>
              <a href="/mobil/bekas-dan-baru/kota-mataram">Mataram</a>
            </li>
          </ul>
          <br>
          <h5>Jual Beli Properti di</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/properti/kota-surabaya">Surabaya</a>
            </li>
            <li>
              <a href="/properti/dki-jakarta">Jakarta</a>
            </li>
            <li>
              <a href="/properti/kota-bandung">Bandung</a>
            </li>
            <li>
              <a href="/properti/kota-tangerang">Tangerang</a>
            </li>
            <li>
              <a href="/properti/kota-medan">Medan</a>
            </li>
            <li>
              <a href="/properti/kab-jember">Jember</a>
            </li>
            <li>
              <a href="/properti/kota-makassar">Makassar</a>
            </li>
            <li>
              <a href="/properti/kota-bekasi">Bekasi</a>
            </li>
            <li>
              <a href="/properti/kota-palembang">Palembang</a>
            </li>
            <li>
              <a href="/properti/kota-samarinda">Samarinda</a>
            </li>
            <li>
              <a href="/properti/kota-semarang">Semarang</a>
            </li>
            <li>
              <a href="/properti/kota-yogyakarta">Yogyakarta</a>
            </li>
            <li>
              <a href="/properti/kota-bogor">Bogor</a>
            </li>
            <li>
              <a href="/properti/kota-malang">Malang</a>
            </li>
            <li>
              <a href="/properti/kota-tangerang-selatan">Tangerang Selatan</a>
            </li>
          </ul>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>
  <section class="row full-width mid-footer">
    <div class="container">
      <div class="col-12">
        <div class="footer-content footer-text category-footer-content">
          <h5>Teman Jual Belimu</h5>
          <p>
            Sebagai situs e-classifieds terkini Jualo.com berusaha menghadirkan ekosistem
            <a href="https://www.jualo.com/">
              jual beli online yang aman dan terpercaya
            </a>
            Tak hanya itu, Jualo.com pun ingin menjadi teman yang baik bagi masyarakat Indonesia
            dalam urusan jual beli online. Dan layaknya seorang teman baik, Jualo.com akan selalu
            berusaha untuk memberikan pengalaman
            <a href="https://play.google.com/store/apps/details?id=com.jualo.client&amp;hl=in">
              jual beli online terbaik.
            </a>
          </p>
          <p>
            Pengalaman-pengalaman ini bisa dirasakan melalui fitur-fitur yang membuat berbelanja
            online di Jualo.com menjadi gampang. Salah satunya dengan fitur Tawar yang akan membuat
            kamu bisa melakukan negosiasi harga. Kemudian ada juga fitur Kasbon untuk membantu kamu
            membeli barang dan membayarnya dalam jangka waktu sebulan ke depan.
          </p>
          <p>
            Kemudahan lainnya juga bisa dilihat dengan lengkapnya kategori yang tersedia di Jualo.com.
            Hampir semua barang bisa ditemukan di sini. Mulai dari
            <a href="/mobil">
              jual beli online otomotif
            </a>
            yang hadir dengan ribuan iklan setiap harinya. Sehingga kamu bisa punya banyak pilihan untuk
            membeli mobil bekas maupun mobil baru. Mobil-mobil seperti
            <a href="/mobil/bekas-dan-baru/q-avanza">
              Toyota Avanza
            </a>
            ,
            <a href="/mobil/bekas-dan-baru/q-Honda-Mobilio">
              Honda Mobilio
            </a>
            ,
            <a href="/mobil/bekas-dan-baru/q-Suzuki-Ertiga">
              Suzuki Ertiga
            </a>
            , sampai sedan mewah
            <a href="/mobil/bekas-dan-baru/q-Mercedes-Benz">
              Mercedes-Benz
            </a>
            dijual di Jualo.com.
          </p>
          <p>
            Sama halnya untuk kategori motor yang hadir dengan iklan-iklan
            <a href="/motor/baru-dan-bekas/q-Honda-Beat">
              jual Honda Beat
            </a>
            ,
            <a href="/motor/baru-dan-bekas/q-Honda-CBR">
              Honda CBR
            </a>
            ,
            <a href="/motor/baru-dan-bekas/q-Yamaha-NMax">
              Yamaha NMax
            </a>
            , hingga
            <a href="/motor/baru-dan-bekas/q-Kawasaki-Ninja">
              Kawasaki Ninja.
            </a>
            Motor-motor ini bisa kamu beli dalam kondisi baru dan bekas. Dan iklan-iklan
            tersebut dipasang oleh penjual yang berada di berbagai lokasi dengan harga yang bervariasi.
          </p>
          <p>
            Selain itu ada juga
            <a href="/handphone-dan-gadget/handphone/q-Android">
              jual beli online handphone android.
            </a>
            Dimana pada kategori ini merek-merek handphone (hp) favorit pun dijual. Ada yang men
            <a href="/handphone/xiaomi">
              jual hp Xiaomi
            </a>
            ,
            <a href="/handphone/asus">
              ASUS
            </a>
            ,
            <a href="/handphone/lenovo">
              Lenovo
            </a>
            ,
            <a href="/handphone/samsung">
              Samsung
            </a>
            ,
            <a href="/handphone/lainnya">
              hp Android Cina
            </a>
            , hingga
            <a href="/handphone/apple">
              iPhone.
            </a>
            Dan tak cuma hp saja yang dijual, tapi aksesorisnya pun tersedia lengkap di Jualo.com
            Selain kategori tadi, Jualo.com pun membuat semua transaksi mungkin dilakukan.
            Bahkan untuk investasi atau industri besar seperti
            <a href="/properti">
              jual beli properti
            </a>
            ,
            <a href="/rumah-tangga-dan-industri/perlengkapan-industri">
              mesin berat
            </a>
            , sampai
            <a href="/olahraga-air-dan-perahu/perahu-kapal-layar">
              jual beli kapal laut online
            </a>
            , bisa kamu lakukan di Jualo.com
          </p>
          <p>
            Dengan kemudahan dan keamanan yang ditawarkan, Jualo.com bisa jadi teman untuk merasakan pengalaman
            jual beli online terbaik. Karena seperti yang kamu tahu menghabiskan waktu bersama teman selalu akan
            jadi hal yang menyenangkan untuk dilakukan. Jadi, buat akunmu di sini dan mari berteman.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="row full-width bottom-footer">
    <div class="container">
      <div class="col-3">
        <span class="copyright">
          ©
          2019
          Jualo All rights reserved.
        </span>
      </div>
      <div class="col-6">
        <ul class="information">
          <li class="information__link">
            <a href="/informasi/tentang_kami">Tentang Kami</a>
            |
          </li>
          <li class="information__link">
            <a href="/informasi/tips">Tips Jual Beli Aman</a>
            |
          </li>
          <li class="information__link">
            <a href="/informasi/aturan_umum">Syarat dan Ketentuan</a>
            |
          </li>
          <li class="information__link">
            <a href="/informasi/disclaimer">Disclaimer</a>
            |
          </li>
          <li class="information__link">
            <a href="/informasi/kebijakan">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="social-media list-inline pull-right">
          <li>
            <a href="https://www.facebook.com/jualocom" target="_blank">
              <span class="icon icon_socmed-facebook"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/jualocom" target="_blank">
              <span class="icon icon_socmed-twitter"></span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/company/jualo" target="_blank">
              <span class="icon icon_socmed-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+Jualocom" target="_blank">
              <span class="icon icon_socmed-googleplus"></span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/jualodotcom" target="_blank">
              <span class="icon icon_socmed-youtube"></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/jualocom/" target="_blank">
              <span class="icon icon_socmed-instagram"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>