<div class="search-category">
  <input class="hidden" name="category" type="text">
  <span class="category-name">
    semua kategori
  </span>
  <span class="icon icon_dropdown-black"></span>
  <div class="category-dropdown">
    <ul class="category-dropdown__list">
      <li class="list-category col-12" data-id="127" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-motor"></span>
        Motor
      </li>
      <li class="list-category col-12" data-id="59" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-mobil"></span>
        Mobil
      </li>
      <li class="list-category col-12" data-id="40" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-properti"></span>
        Properti
      </li>
      <li class="list-category col-12" data-id="57" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-fashion"></span>
        Fashion
      </li>
      <li class="list-category col-12" data-id="119" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-handphone-dan-gadget"></span>
        Handphone &amp; Gadget
      </li>
      <li class="list-category col-12" data-id="38" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-kamera"></span>
        Kamera
      </li>
      <li class="list-category col-12" data-id="79" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-jasa-dan-pekerjaan"></span>
        Jasa &amp; Pekerjaan
      </li>
      <li class="list-category col-12" data-id="42" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-komputer-dan-elektronik"></span>
        Komputer &amp; Elektronik
      </li>
      <li class="list-category col-12" data-id="66748"
        onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-hobi-dan-aktivitas-outdoor"></span>
        Hobi &amp; Aktivitas Outdoor
      </li>
      <li class="list-category col-12" data-id="75" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-kesehatan-dan-kecantikan"></span>
        Kesehatan &amp; Kecantikan
      </li>
      <li class="list-category col-12" data-id="53" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-rumah-tangga-dan-industri"></span>
        Rumah Tangga &amp; Industri
      </li>
      <li class="list-category col-12" data-id="63" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-perlengkapan-ibu-dan-anak"></span>
        Perlengkapan Ibu &amp; Anak
      </li>
      <li class="list-category col-12" data-id="67311"
        onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
        <span class="icon icon_kategori-acara-dan-hiburan"></span>
        Acara dan Hiburan
      </li>
      <div class="all-category col-12">
        <a class="button button--green button--block button--rounded button--small" href="/categories">Lihat
          Selengkapnya
        </a></div>
    </ul>
  </div>
</div>