<div class="col-2 sidebar-width-new">
  <div class="category-listing__title">
    category
  </div>
  <div class="category-listing__all">
    <a href="/semua"
      onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
      <img class="all-cat-left-arrow"
        src="https://www.jualo.com/assets/milan_version/arrow-left-5be2121475f3ad9cabc8a0640f35123cb7f138c360f1cd1f631136e700476d5a.svg">
      all categories
    </a>
  </div>
  <div class="category-listing__subtitle">
    <ul class="ul-font-size">
      <li><a
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'"
          href="/motor">
          Motorcycle
        </a></li>
      <li class="child-2 active">
        Motorcycle Spare Parts
      </li>
    </ul>
  </div>
  <div class="category-listing__accordion">
    <ul style="padding-left: 10px">
      <li class="child-3">
        <a href="/sparepart-motor/aki-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Aki Motor
        </a>
        <span class="facet-count">
          156
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/motor-ban-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Motorcycle Tires
        </a>
        <span class="facet-count">
          211
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/block-mesin-dan-dinamo-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Block Machine &amp; Motor Dynamo
        </a>
        <span class="facet-count">
          168
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/cakram-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Motorcycle Disc
        </a>
        <span class="facet-count">
          316
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/filter-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Filter Motor
        </a>
        <span class="facet-count">
          172
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/foot-step-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Motor Foot Step
        </a>
        <span class="facet-count">
          215
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/gear-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Gear Motor
        </a>
        <span class="facet-count">
          413
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/kampas-rem-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Motor Brake Shoes
        </a>
        <span class="facet-count">
          163
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/karburator-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
          Motor Carburetor
        </a>
        <span class="facet-count">
          263
        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/knalpot-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Motorcycle exhaust


        </a>
        <span class="facet-count">

          2232

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/lampu-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Motorcycle Lights


        </a>
        <span class="facet-count">

          1403

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/piston-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Piston Motor


        </a>
        <span class="facet-count">

          167

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/shockbreaker-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Shockbreaker Motor


        </a>
        <span class="facet-count">

          582

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/sparepart-motor-lainnya"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Other Motorcycle Spare Parts


        </a>
        <span class="facet-count">

          6254

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/speedometer-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Speedometer Motor


        </a>
        <span class="facet-count">

          253

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/spion-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Motorbike Rearview


        </a>
        <span class="facet-count">

          343

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/stang-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Stang Motor


        </a>
        <span class="facet-count">

          302

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/tangki-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Tank Motor


        </a>
        <span class="facet-count">

          122

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/tromol-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Tromol Motor


        </a>
        <span class="facet-count">

          140

        </span>
      </li>
      <li class="child-3">
        <a href="/sparepart-motor/motor-velg-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">


          Motorcycle wheels


        </a>
        <span class="facet-count">

          460

        </span>
      </li>
      <li style="">
        <a href="/motor/motor-aksesoris-berkendara"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">

          Driving Accessories

        </a>
      </li>
      <li style="">
        <a href="/motor/aksesoris-motor"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">

          Motorcycle Accessories

        </a>
      </li>
      <li style="">
        <a href="/motor/motor-baru-dan-bekas"
          onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">

          New &amp; Used Motorcycle

        </a>
      </li>
      <li style="">
      </li>
    </ul>
  </div>
  <div class="category-listing__title">


    price


  </div>
  <div class="category-listing__price">
    <div class="category-listing__price-min">
      <span>

        rp

      </span>
      <input type="text" name="min_price" id="min_price" placeholder="1.000" maxlength="15"
        onchange="checkMinMaxPrice(event)" autocomplete="off">
      <div class="tooltip-min-price hide">harga minimal terlalu besar</div>
    </div>
    <div class="category-listing__price-max">
      <span>

        rp

      </span>
      <input type="text" name="max_price" id="max_price" value="" placeholder="670.000.000" maxlength="15"
        onchange="checkMinMaxPrice(event)" autocomplete="off">
    </div>
  </div>
  <div class="category-listing__title">


    option


  </div>
  <ul class="category-listing__checklist">
    <li>
      <label>
        <input type="checkbox" name="nego" id="nego" class="milan-checkbox" onchange="$('#filter_category').submit()">
        <span class="icon icon_checklist"></span>
        <span class="icon icon_checklist-orange"></span>


        bargain


      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="verified" id="verified" class="milan-checkbox"
          onchange="$('#filter_category').submit()">
        <span class="icon icon_checklist"></span>
        <span class="icon icon_checklist-orange"></span>


        verified


      </label>
    </li>
  </ul>
</div>