<div class="tag-div">
  <a class="button-a button--ucase" href="/sparepart-motor/aki-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Motor Aki </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/motor-ban-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Tire Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/block-mesin-dan-dinamo-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Block Engine &amp; Dynamo Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/cakram-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Disc Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/filter-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Filter Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/foot-step-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Foot Step Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/gear-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Gear Motor Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/kampas-rem-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Brake Pads </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/karburator-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Carburetor Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/knalpot-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Muffler </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/lampu-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/piston-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Piston Motorbike Motorbike </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/shockbreaker-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Shockbreaker </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/sparepart-motor-lainnya"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Other Motor Spare Parts </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/speedometer-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Motor Speedometer Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/spion-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Rearview Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/stang-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Handlebar Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/tangki-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Tank Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/tromol-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Tromol Motor </font>
    </font>
  </a>
  <a class="button-a button--ucase" href="/sparepart-motor/motor-velg-motor"
    onclick="document.cookie='category_ids=[67153, 67121, 67161, 67145, 67163, 67149, 67155, 67147, 67177, 67171, 67125, 67167, 67165, 67179, 67143, 67137, 67173, 67157, 67139, 67119]'">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Rims Motor</font>
    </font>
  </a>
</div>