<% product_images.each do |image| %>
<div class="product-thumbnail__container">
  <a data-id= image num="#<AmazonImage:0x0000000ffd7438>">
    <%= image_tag(image.image, alt: "", original: image.image, title: "", backup_img: "product_thumb") %>
  </a>
</div>
<% end %>



<!-- <div class="product-thumbnail__container">
  <a data-id="0" num="#<AmazonImage:0x0000000ffd7438>"
    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967147">
    <img alt="" original="https://storage.jualo.com/original/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg"
      title="" backup_img="product_thumb"
      src="https://storage.jualo.com/thumb/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg">
  </a>
</div>
<div class="product-thumbnail__container">
  <a data-id="1" num="#<AmazonImage:0x0000000ffd72f8>"
    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967159">
    <img alt="" original="https://storage.jualo.com/original/19967159/yamaha-xmax-tahun-201-motor-yamaha-19967159.jpg"
      title="" backup_img="product_thumb"
      src="https://storage.jualo.com/thumb/19967159/yamaha-xmax-tahun-201-motor-yamaha-19967159.jpg">
  </a>
</div>
<div class="product-thumbnail__container">
  <a data-id="2" num="#<AmazonImage:0x0000000ffd7168>"
    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967195">
    <img alt="" original="https://storage.jualo.com/original/19967195/yamaha-xmax-tahun-201-motor-yamaha-19967195.jpg"
      title="" backup_img="product_thumb"
      src="https://storage.jualo.com/thumb/19967195/yamaha-xmax-tahun-201-motor-yamaha-19967195.jpg">
  </a>
</div>
<div class="product-thumbnail__container">
  <a data-id="3" num="#<AmazonImage:0x0000000ffd6fb0>"
    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967211">
    <img alt="" original="https://storage.jualo.com/original/19967211/yamaha-xmax-tahun-201-motor-yamaha-19967211.jpg"
      title="" backup_img="product_thumb"
      src="https://storage.jualo.com/thumb/19967211/yamaha-xmax-tahun-201-motor-yamaha-19967211.jpg">
  </a>
</div> -->