<div class="product-detail__ads">
  <div class="col-12 pad-0 title">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        Similar Ads
      </font>
    </font>
  </div>
  <div class="col-12 pad-0 more-like-this-listing">
    <div class="product-item">
      <a href="/motor-yamaha/iklan-yamaha-xmax-2017-warna-abu-doff-masculine-grey-like-new">
        <div class="product-item__head">
          <div class="product-item__badge"></div>
          <div class="product-item__image"><img alt=""
              backup_img="Yamaha XMAX 2017 Warna Abu Doff / Masculine Grey||Like New"
              src="https://storage.jualo.com/big_thumb/19644963/yamaha-xmax-2017-warn-motor-yamaha-19644963.jpg"
              width="149" height="149"><span class="mask"></span></div>
        </div>
        <div class="product-item__body">
          <div class="product-item__name product-item__name--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Yamaha XMAX 2017 Color of Abu Doff / Masculine Gray || Like New
              </font>
            </font>
          </div>
          <div class="product-item__price product-item__price--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Rp. </font>
              <font style="vertical-align: inherit;">55,500,000</font>
            </font>
          </div>
          <div class="product-item__option">
            <div class="product-item__info">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Former
                </font>
              </font>
            </div>

          </div>
          <div class="product-item_footer">
            <div class="product-item__location">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">City of Bandung, West Java</font>
              </font>
            </div>
            <div class="product-item__extra">

            </div>
          </div>
        </div>
      </a>
      <div class="iklan_terikat">
        <span class="favourite-badge">
          <i class="fa fa-heart-o" data-ad-id="1783684415" onclick="add_to_wishlist_from_ad_page(this)"></i>
        </span>
      </div>
    </div>
    <div class="product-item">
      <a href="/motor-yamaha/iklan-yamaha-xmax-2018-bandung">
        <div class="product-item__head">
          <div class="product-item__badge"></div>
          <div class="product-item__image"><img alt="" backup_img="Yamaha Xmax 2018 Bandung"
              src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/17157567/yamaha-xmax-2018-band-motor-yamaha-17157567.jpg"
              width="149" height="149"><span class="mask"></span></div>
        </div>
        <div class="product-item__body">
          <div class="product-item__name product-item__name--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                2018 Yamaha Xmax Bandung
              </font>
            </font>
          </div>
          <div class="product-item__price product-item__price--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Rp. </font>
              <font style="vertical-align: inherit;">58,300,000</font>
            </font>
          </div>
          <div class="product-item__option">
            <div class="product-item__info">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Former
                </font>
              </font>
            </div>

          </div>
          <div class="product-item_footer">
            <div class="product-item__location">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">City of Bandung, West Java</font>
              </font>
            </div>
            <div class="product-item__extra">

            </div>
          </div>
        </div>
      </a>
      <div class="iklan_terikat">
        <span class="favourite-badge">
          <i class="fa fa-heart-o" data-ad-id="1782928575" onclick="add_to_wishlist_from_ad_page(this)"></i>
        </span>
      </div>
    </div>
    <div class="product-item">
      <a href="/motor-yamaha/iklan-yamaha-xmax-2017-6976946">
        <div class="product-item__head">
          <div class="product-item__badge"></div>
          <div class="product-item__image"><img alt="" backup_img="Yamaha Xmax 2017"
              src="https://storage.jualo.com/big_thumb/19702235/yamaha-xmax-2017-motor-yamaha-19702235.jpg" width="149"
              height="149"><span class="mask"></span></div>
        </div>
        <div class="product-item__body">
          <div class="product-item__name product-item__name--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                2017 Yamaha Xmax
              </font>
            </font>
          </div>
          <div class="product-item__price product-item__price--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Rp. </font>
              <font style="vertical-align: inherit;">53,500,000</font>
            </font>
          </div>
          <div class="product-item__option">
            <div class="product-item__info">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Former
                </font>
              </font>
            </div>

          </div>
          <div class="product-item_footer">
            <div class="product-item__location">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Kab. </font>
                <font style="vertical-align: inherit;">Bogor, West Java</font>
              </font>
            </div>
            <div class="product-item__extra">

            </div>
          </div>
        </div>
      </a>
      <div class="iklan_terikat">
        <span class="favourite-badge">
          <i class="fa fa-heart-o" data-ad-id="1783702555" onclick="add_to_wishlist_from_ad_page(this)"></i>
        </span>
      </div>
    </div>
    <div class="product-item">
      <a href="/rumah-dijual/iklan-dapat-1-unit-yamaha-xmax-plus-5-juta-di-abdi-garden-cifor">
        <div class="product-item__head">
          <div class="product-item__badge"></div>
          <div class="product-item__image"><img alt=""
              backup_img="Dapat 1 Unit Yamaha Xmax Plus 5 Juta Di Abdi Garden Cifor"
              src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/17735995/dapat-1-unit-yamaha-x-rumah-dijual-17735995.jpg"
              width="149" height="149"><span class="mask"></span></div>
        </div>
        <div class="product-item__body">
          <div class="product-item__name product-item__name--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Get 1 Unit of Plus 5 Million Yamaha Xmax at Abdi Garden Cifor
              </font>
            </font>
          </div>
          <div class="product-item__price product-item__price--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Rp. </font>
              <font style="vertical-align: inherit;">498,000,000</font>
            </font>
          </div>
          <div class="product-item__option">
            <div class="product-item__info">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  New
                </font>
              </font>
            </div>

          </div>
          <div class="product-item_footer">
            <div class="product-item__location">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">City of Bogor, West Java</font>
              </font>
            </div>
            <div class="product-item__extra">
              <div class="product-item__verified"><span class="icon icon_verify"></span>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">verified</font>
                </font>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="iklan_terikat">
        <span class="favourite-badge">
          <i class="fa fa-heart-o" data-ad-id="1783096747" onclick="add_to_wishlist_from_ad_page(this)"></i>
        </span>
      </div>
    </div>
    <div class="product-item">
      <a href="/motor-yamaha/iklan-yamaha-xmax-2017-4302493">
        <div class="product-item__head">
          <div class="product-item__badge"></div>
          <div class="product-item__image"><img alt="" backup_img="Yamaha XMAX 2017"
              src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/18255687/yamaha-xmax-2017-motor-yamaha-18255687.jpg"
              width="149" height="149"><span class="mask"></span></div>
        </div>
        <div class="product-item__body">
          <div class="product-item__name product-item__name--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Yamaha XMAX 2017
              </font>
            </font>
          </div>
          <div class="product-item__price product-item__price--small">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Rp. </font>
              <font style="vertical-align: inherit;">52,000,000</font>
            </font>
          </div>
          <div class="product-item__option">
            <div class="product-item__info">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Former
                </font>
              </font>
            </div>

          </div>
          <div class="product-item_footer">
            <div class="product-item__location">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Denpasar City, Bali</font>
              </font>
            </div>
            <div class="product-item__extra">

            </div>
          </div>
        </div>
      </a>
      <div class="iklan_terikat">
        <span class="favourite-badge">
          <i class="fa fa-heart-o" data-ad-id="1783260263" onclick="add_to_wishlist_from_ad_page(this)"></i>
        </span>
      </div>
    </div>
  </div>
</div>