<div class="specification__list">
  <div class="row">
    <div class="col-5">
      <div class="title">
        <%= title %>
      </div>
    </div>
    <div class="col-7 pad-0">
      <%= content %>
    </div>
  </div>
</div>