<section class="row full-width product-detail">
  <div class="container">
    <div class="col-12">
      <div class="product-details-container-with-seller-and-more-ads">
        <div class="col-12 product-detail__head">
          <div class="product-detail__head-tree"><a href="https://www.jualo.com">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Home </font>
              </font>
            </a><span class="arrow">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">&gt; </font>
              </font>
            </span><a href="/categories/motor-baru-dan-bekas?ad_type=2&amp;no_location=true">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">New &amp; Used Secondhand Motor </font>
              </font>
            </a><span class="arrow">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">&gt; </font>
              </font>
            </span><a
              href="/categories/motor-baru-dan-bekas?ad_type=2&amp;city_id=7&amp;state_id=2&amp;subcategory=motor-yamaha">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Yamaha in Bandung City, West Java </font>
              </font>
            </a><span class="arrow">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">&gt; </font>
              </font>
            </span><span class="current-cat">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Yamaha Xmax in 2017</font>
              </font>
            </span></div>
        </div>
      </div>
      <div class="product-detail__section">
        <center class="col-12" style="margin-top: 10px;">

          <div class="jbanner" id="jbanner0"></div>
        </center>
        <div class="col-7 pad-0">
          <div class="product-detail__desc">
            <div class="product-image">
              <div class="product-image__container"><img id="id_main_image"
                  src="https://storage.jualo.com/original/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg"
                  alt="Yamaha XMax Year 201 Yamaha Motorcycles 19967147"></div>
              <div class="product-image__fullscreen hide"><span class="icon icon_expand"></span></div>
              <div class="product-image__prev"
                onclick="return change_ad_image(-1); ga('send', 'event', 'Ad Image', 'prev', 'Yamaha Xmax Tahun 2017 - 1783787079');">
                <span class="icon icon_angle-pointing-to-left"></span></div>
              <div class="product-image__next"
                onclick="return change_ad_image(1); ga('send', 'event', 'Ad Image', 'next', 'Yamaha Xmax Tahun 2017 - 1783787079');">
                <span class="icon icon_angle-arrow-pointing-to-right"></span></div>
            </div>
            <div class="product-thumbnail">
              <div class="product-thumbnail__wrapper">
                <div class="product-thumbnail__container">
                  <a data-id="0" num="#<AmazonImage:0x0000000ffd7438>"
                    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967147"><img alt=""
                      original="https://storage.jualo.com/original/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg"
                      title="" backup_img="product_thumb"
                      src="https://storage.jualo.com/thumb/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg">
                  </a></div>
                <div class="product-thumbnail__container">
                  <a data-id="1" num="#<AmazonImage:0x0000000ffd72f8>"
                    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967159"><img alt=""
                      original="https://storage.jualo.com/original/19967159/yamaha-xmax-tahun-201-motor-yamaha-19967159.jpg"
                      title="" backup_img="product_thumb"
                      src="https://storage.jualo.com/thumb/19967159/yamaha-xmax-tahun-201-motor-yamaha-19967159.jpg">
                  </a></div>
                <div class="product-thumbnail__container">
                  <a data-id="2" num="#<AmazonImage:0x0000000ffd7168>"
                    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967195"><img alt=""
                      original="https://storage.jualo.com/original/19967195/yamaha-xmax-tahun-201-motor-yamaha-19967195.jpg"
                      title="" backup_img="product_thumb"
                      src="https://storage.jualo.com/thumb/19967195/yamaha-xmax-tahun-201-motor-yamaha-19967195.jpg">
                  </a></div>
                <div class="product-thumbnail__container">
                  <a data-id="3" num="#<AmazonImage:0x0000000ffd6fb0>"
                    onclick="ga('send', 'event', 'Ad Image', 'show', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017?image_id=19967211"><img alt=""
                      original="https://storage.jualo.com/original/19967211/yamaha-xmax-tahun-201-motor-yamaha-19967211.jpg"
                      title="" backup_img="product_thumb"
                      src="https://storage.jualo.com/thumb/19967211/yamaha-xmax-tahun-201-motor-yamaha-19967211.jpg">
                  </a></div>
              </div>
            </div>
            <div class="product-desc-title">
              <div class="title tab-menu__item-product">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Specification</font>
                </font>
              </div>
            </div>
            <div class="product-desc">
              <div class="tab-content__item-product" id="tabSpecification">
                <div class="specification-detail">
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Type
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            Xmax
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Year
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            2017
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Transmission
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            Automatic
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              CC
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            250
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Kilometer
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            10001-15000
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Fuel
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            Fuel
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                  <div class="specification__list">
                    <div class="row">
                      <div class="col-5">
                        <div class="title">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Color
                            </font>
                          </font>
                        </div>
                      </div>
                      <div class="col-7 pad-0">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">
                            Gray
                          </font>
                        </font>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="product-desc-title">
              <div class="title tab-menu__item-product">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Description</font>
                </font>
              </div>
            </div>
            <div class="product-desc">
              <div class="tab-content__item-product" id="tabDescription">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    For sale, 2017 black xmax th 2017, smooth condition KM 10r, cimahi city number plate. </font>
                  <font style="vertical-align: inherit;">Pirelli angel scooter tires, rear front brake hose using hell
                    carbon, front disc using Yamaha R25, seat MBtech papas foam front. Cellphone 0812238XXXXX
                  </font>
                </font>
              </div>
            </div>
          </div>
          <div class="product-detail__action text-center">
            <div class="action-list"
              onclick="ga('send', 'event', 'Ad/Product', 'goto report abuse', 'Yamaha Xmax Tahun 2017 - 1783787079'); loadFormFunctionBaru('abuse-form');">
              <div class="action-list-text report-this-ad">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Report Advertisements
                  </font>
                </font>
              </div>
              <div class="action-list-button">
                <span class="icon icon_close-white"></span>
              </div>
            </div>
            <div class="action-popup">
              <div class="action-popup-title">Laporkan Iklan</div>
              <form action="/abuse_reports" class="modal_ad_form" id="new_abuse_report" method="post" name="abuse-form"
                target="_parent">
                <input type="hidden" name="abuse_report[ad_id]" id="abuse_report_ad_id" value="1783787079">
                <input type="hidden" name="abuse_report[redirect]" id="abuse_report_redirect">
                <input type="hidden" name="abuse_report[ip]" id="abuse_report_ip" value="10.76.129.84">
                <input type="hidden" name="abuse_report[name]" id="abuse_report_name" value="Chiến Ngô">
                <input type="hidden" name="abuse_report[email]" id="abuse_report_email" value="minhchien96bn@gmail.com">
                <label>
                  <input type="radio" name="abuse_report[message]"
                    id="abuse_report_message_Iklan_memiliki_banyak_duplikat" value="Iklan memiliki banyak duplikat"
                    class="milan-radio" checked="checked">
                  <span></span>
                  Iklan memiliki banyak duplikat
                </label>
                <label>
                  <input type="radio" name="abuse_report[message]"
                    id="abuse_report_message_Konten_mengandung_hal_yang_tidak_wajar"
                    value="Konten mengandung hal yang tidak wajar" class="milan-radio" checked="checked">
                  <span></span>
                  Konten mengandung hal yang tidak wajar
                </label>
                <label>
                  <input type="radio" name="abuse_report[message]" id="abuse_report_message_Produk_Ilegal_dan_Berbahaya"
                    value="Produk Ilegal dan Berbahaya" class="milan-radio" checked="checked">
                  <span></span>
                  Produk Ilegal dan Berbahaya
                </label>
                <label>
                  <input type="radio" name="abuse_report[message]" id="abuse_report_message_Harga_tidak_wajar"
                    value="Harga tidak wajar" class="milan-radio" checked="checked">
                  <span></span>
                  Harga tidak wajar
                </label>
                <label>
                  <input type="radio" name="abuse_report[message]" id="abuse_report_message_Pelanggaran_merk_dagang"
                    value="Pelanggaran merk dagang" class="milan-radio" checked="checked">
                  <span></span>
                  Pelanggaran merk dagang
                </label>
                <div class="action-popup-button">
                  <input type="submit" name="commit" value="Lapor" class="button button--green button--rounded">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-5 pad-0">
          <div class="product-detail__transaction product-detail-box">
            <div class="row">
              <div class="col-8">
                <h1 class="product-name">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Yamaha Xmax in 2017</font>
                  </font>
                </h1>

                <div class="product-price"><span class="product-price-value">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">IDR </font>
                    </font><span>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">48,000,000</font>
                      </font>
                    </span>
                  </span></div>
              </div>
              <div class="col-4">
                <div class="fav-ad-btn">
                  <i class="fa fa-heart-o" data-ad-id="1783787079" data-ad-name="Yamaha Xmax Tahun 2017"
                    onclick="add_to_wishlist_from_ad_page(this)"></i>
                </div>
                <div class="share-ad-btn" id="share-ad-btn">
                  <img
                    src="https://www.jualo.com/assets/share-orange-7a393cfcfd11441dbe1b567568af463693f44328f5ac57a44f258a846bf180a2.svg"
                    alt="Share orange">
                </div>
                <div class="hide shareWrapper" id="shareBlock">
                  <i class="arrow-up">
                    <img
                      src="https://www.jualo.com/assets/icons/up-arrow-f937b5c9bfe8a79ed1ce4ccaa82b7fdec30baa5470a58c5aadeba17c26889e0c.svg"
                      alt="Up arrow">
                  </i>
                  <div class="col-12 share-container-title">
                    BAGIKAN IKLAN INI
                  </div>
                  <div class="col-12 shareContainer">
                    <a class="copy-link js-copy-link-share">
                      <img
                        src="https://www.jualo.com/assets/share-link-9add885c2c62358e8fe61d6912971a8afd048c91f575d13df6310a981e5e7ddc.svg"
                        alt="Share link">
                      <div class="copied hide">Copied!</div>
                    </a>
                    <a class="whatsapp"
                      href="https://web.whatsapp.com/send?text=Hi%2C%20sepertinya%20kamu%20akan%20suka%20iklan%20ini%21%20Cek%20link%20berikut%3A%20https%3A%2F%2Fwww.jualo.com%2Fiklan%2Fyamaha-xmax-tahun-2017.3667779"
                      rel="nofollow" target="_blank">
                      <img
                        src="https://www.jualo.com/assets/share-whatsapp-bab1aaf328fbdedac02b02e07a577a8355ae541ad7a3ca0eec507ac57b00594b.svg"
                        alt="Share whatsapp">
                    </a>
                    <a class="line"
                      href="https://social-plugins.line.me/lineit/share?text=Hi%2C%20sepertinya%20kamu%20akan%20suka%20iklan%20ini%21%20Cek%20link%20berikut%3A&amp;url=https%3A%2F%2Fwww.jualo.com%2Fiklan%2Fyamaha-xmax-tahun-2017.3667779"
                      rel="nofollow" target="_blank">
                      <img
                        src="https://www.jualo.com/assets/share-line-9a57fbf3e5e7de7473babca84a7da208785a0590ce13336194c86453bb0116be.svg"
                        alt="Share line">
                    </a>
                    <a class="facebook js-facebook-share"
                      data-ad-description="Dijual%20yamaha%20xmax%20th%202017%20warna%20hitam%20abu%2C%20kondisi%20mulus%20KM%2010rb%2C%20plat%20nomor%20kota%20cimahi.%20Ban%20pirelli%20angel%20scooter%2C%20selang%20rem%20depan%20belakang%20pake%20h.Sudah%20coba%20jual%20barang%20Anda%20di%20Jualo.com%20seperti%20%25%7Bname%7D%3F%20Cepat%20dan%20gratis%20loh%21"
                      data-ad-name="Yamaha%20Xmax%20Tahun%202017"
                      data-ad-thumb="https://storage.jualo.com/thumb/19967147/yamaha-xmax-tahun-201-motor-yamaha-19967147.jpg"
                      data-ad-url="https://www.jualo.com/iklan/yamaha-xmax-tahun-2017.3667779">
                      <img
                        src="https://www.jualo.com/assets/share-facebook-cda7457285803474c439a248c951723ba33c803d9e5ba34dcbf7badaef124b1c.svg"
                        alt="Share facebook">
                    </a>
                    <a class="twitter js-twitter-share"
                      href="https://twitter.com/share?url=https://www.jualo.com/iklan/yamaha-xmax-tahun-2017.3667779&amp;text=Tertarik dengan &quot;Yamaha Xmax Tahun 2017&quot;? Kunjungi /motor-yamaha/iklan-yamaha-xmax-tahun-2017."
                      rel="nofollow" target="_blank">
                      <img
                        src="https://www.jualo.com/assets/share-twitter-2718133234096b304951f272f77559f5d9629c704231f2dee44d069420c4f548.svg"
                        alt="Share twitter">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="product-location">
                  <i class="fa fa-map-marker"></i>
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      City of Bandung, West Java
                    </font>
                  </font>
                </div>
              </div>
            </div>
            <div class="row product-info-section">
              <div class="col-4 text-center product-info-divider">
                <div class="product-info-key">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Condition</font>
                  </font>
                </div>
                <div class="product-info-value">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Former</font>
                  </font>
                </div>
              </div>
              <div class="col-4 text-center product-info-divider">
                <div class="product-info-key">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Updated</font>
                  </font>
                </div>
                <div class="product-info-value"><span>
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">5 days ago</font>
                    </font>
                  </span></div>
              </div>
              <div class="col-4 text-center">
                <div class="product-info-key">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Seen</font>
                  </font>
                </div>
                <div class="product-info-value">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">178 times</font>
                  </font>
                </div>
              </div>
            </div>
            <div class="row product-buttons">
              <div class="col-6">
                <div class="row">
                  <a class="col-6 contact-seller-whatsapp inactive text-center" href="javascript:void(0)" rel="nofollow"
                    target="_self">
                    <img
                      src="https://www.jualo.com/assets/ic_whatsapp_inactive-9ab95638b429fbcf05a6111888ef238546375231ac5e71d3041e4d8798ef05d1.svg"
                      alt="Ic whatsapp inactive">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        WHATSAPP
                      </font>
                    </font>
                  </a>
                  <font style="vertical-align: inherit;"><a class="col-6 text-center contact-seller-mb" id="seller-mb"
                      onclick="if($('#mb-number-popup').hasClass('hide')) {dataLayer.push({&quot;event&quot;:&quot;showPhone&quot;,&quot;sellerUserId&quot;:3667779,&quot;sellerNrOfLiveProducts&quot;:2,&quot;sellerLinkInBio&quot;:&quot;&quot;,&quot;sellerRating&quot;:0,&quot;sellerLocationCountry&quot;:&quot;Indonesia&quot;,&quot;sellerLocationState&quot;:&quot;&quot;,&quot;sellerLocationCity&quot;:&quot;&quot;,&quot;sellerLocationDistrict&quot;:&quot;&quot;,&quot;pageGroup&quot;:&quot;product&quot;});}">
                      <font style="vertical-align: inherit;">
                        CALL / SMS
                      </font>
                    </a></font><a class="col-6 text-center contact-seller-mb" id="seller-mb"
                    onclick="if($('#mb-number-popup').hasClass('hide')) {dataLayer.push({&quot;event&quot;:&quot;showPhone&quot;,&quot;sellerUserId&quot;:3667779,&quot;sellerNrOfLiveProducts&quot;:2,&quot;sellerLinkInBio&quot;:&quot;&quot;,&quot;sellerRating&quot;:0,&quot;sellerLocationCountry&quot;:&quot;Indonesia&quot;,&quot;sellerLocationState&quot;:&quot;&quot;,&quot;sellerLocationCity&quot;:&quot;&quot;,&quot;sellerLocationDistrict&quot;:&quot;&quot;,&quot;pageGroup&quot;:&quot;product&quot;});}">
                    <img style="padding: 10px 0px 7px 5px;"
                      src="https://www.jualo.com/assets/ic_call-24b2e2467112fd83a82ecde642388df52fa217cb179391f897e7c209641ad223.svg"
                      alt="Ic call">
                    <font style="vertical-align: inherit;"></font>
                  </a>
                  <div class="seller-contact-popup hide" id="mb-number-popup">
                    <div class="title">
                      CALL / SMS
                      PENJUAL
                    </div>
                    <div class="mb-number">
                      <img class=""
                        src="https://storage.jualo.com/user_phones/4127959/phone_number412795920181030-21431-12vtyjm.jpg"
                        alt="Phone number412795920181030 21431 12vtyjm">
                    </div>
                  </div>
                </div>
              </div>
              <a class="col-6 text-center seller-information nego_modal nego_bg" href="#">
                <h4>
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Price Negotiable</font>
                  </font>
                </h4>
              </a>
            </div>
          </div>

          <div class="product-detail__user">
            <div class="user-info-details">
              <div class="user">
                <div class="user__photo">
                  <a onclick="ga('send', 'event', 'Ad/Product', 'goto seller profile', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/pengguna/anggi-jingga"><img backup_img="avatar"
                      src="https://www.jualo.com/assets/noavatar-8c11c7c8dd0aaccd941b0ca4d86be3f5d08075272faa0c2c6b0ec2bd06943830.png"
                      alt="Noavatar"></a>
                </div>
                <div class="user__name">
                  <a onclick="dataLayer.push({&quot;event&quot;:&quot;gotoSeller&quot;,&quot;userId&quot;:4950603,&quot;userNrOfLiveProducts&quot;:0,&quot;userRating&quot;:0,&quot;userLocationCountry&quot;:&quot;Indonesia&quot;,&quot;userLocationState&quot;:&quot;&quot;,&quot;userLocationCity&quot;:&quot;&quot;,&quot;userLocationDistrict&quot;:&quot;&quot;,&quot;sellerUserId&quot;:3667779,&quot;sellerNrOfLiveProducts&quot;:2,&quot;sellerLinkInBio&quot;:&quot;&quot;,&quot;sellerRating&quot;:0,&quot;sellerLocationCountry&quot;:&quot;Indonesia&quot;,&quot;sellerLocationState&quot;:&quot;&quot;,&quot;sellerLocationCity&quot;:&quot;&quot;,&quot;sellerLocationDistrict&quot;:&quot;&quot;,&quot;productAdId&quot;:1783787079,&quot;productUrl&quot;:&quot;https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017&quot;,&quot;productPrice&quot;:48000000,&quot;productStock&quot;:999999000,&quot;productOwnerUserId&quot;:3667779,&quot;productAvailableSince&quot;:&quot;2019-05-11T14:46:02.000+07:00&quot;,&quot;productTitle&quot;:&quot;Yamaha Xmax Tahun 2017&quot;,&quot;productCategoryId&quot;:435,&quot;productSellingPrice&quot;:48000000,&quot;wasSold&quot;:false,&quot;productIsPremium&quot;:true,&quot;productType&quot;:&quot;Bekas&quot;,&quot;productLocationCountry&quot;:&quot;Indonesia&quot;,&quot;productLocationState&quot;:&quot;Jawa Barat&quot;,&quot;productLocationCity&quot;:&quot;Kota Bandung&quot;,&quot;productLocationDistrict&quot;:&quot;&quot;,&quot;productCategory&quot;:&quot;Motor&quot;,&quot;productSubcategory&quot;:&quot;Motor Baru \u0026 Bekas&quot;,&quot;productSubsubcategory&quot;:&quot;Yamaha&quot;});ga('send', 'event', 'Ad/Product', 'goto seller profile', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                    href="https://www.jualo.com/pengguna/anggi-jingga">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Anggi orange</font>
                    </font>
                  </a>
                </div>
                <div class="user__location">
                </div>
              </div>
              <a class="user-profile-link"
                onclick="dataLayer.push({&quot;event&quot;:&quot;gotoSeller&quot;,&quot;userId&quot;:4950603,&quot;userNrOfLiveProducts&quot;:0,&quot;userRating&quot;:0,&quot;userLocationCountry&quot;:&quot;Indonesia&quot;,&quot;userLocationState&quot;:&quot;&quot;,&quot;userLocationCity&quot;:&quot;&quot;,&quot;userLocationDistrict&quot;:&quot;&quot;,&quot;sellerUserId&quot;:3667779,&quot;sellerNrOfLiveProducts&quot;:2,&quot;sellerLinkInBio&quot;:&quot;&quot;,&quot;sellerRating&quot;:0,&quot;sellerLocationCountry&quot;:&quot;Indonesia&quot;,&quot;sellerLocationState&quot;:&quot;&quot;,&quot;sellerLocationCity&quot;:&quot;&quot;,&quot;sellerLocationDistrict&quot;:&quot;&quot;,&quot;productAdId&quot;:1783787079,&quot;productUrl&quot;:&quot;https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017&quot;,&quot;productPrice&quot;:48000000,&quot;productStock&quot;:999999000,&quot;productOwnerUserId&quot;:3667779,&quot;productAvailableSince&quot;:&quot;2019-05-11T14:46:02.000+07:00&quot;,&quot;productTitle&quot;:&quot;Yamaha Xmax Tahun 2017&quot;,&quot;productCategoryId&quot;:435,&quot;productSellingPrice&quot;:48000000,&quot;wasSold&quot;:false,&quot;productIsPremium&quot;:true,&quot;productType&quot;:&quot;Bekas&quot;,&quot;productLocationCountry&quot;:&quot;Indonesia&quot;,&quot;productLocationState&quot;:&quot;Jawa Barat&quot;,&quot;productLocationCity&quot;:&quot;Kota Bandung&quot;,&quot;productLocationDistrict&quot;:&quot;&quot;,&quot;productCategory&quot;:&quot;Motor&quot;,&quot;productSubcategory&quot;:&quot;Motor Baru \u0026 Bekas&quot;,&quot;productSubsubcategory&quot;:&quot;Yamaha&quot;});ga('send', 'event', 'Ad/Product', 'goto seller profile', 'Yamaha Xmax Tahun 2017 - 1783787079');"
                href="https://www.jualo.com/pengguna/anggi-jingga">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">See Seller Profile
                  </font>
                </font><i class="fa fa-angle-right"></i>
              </a>
            </div>
            <div class="user-activity-details">
              <div class="row">
                <div class="col-4">
                  <div class="user-activity-label">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Verification
                      </font>
                    </font>
                  </div>
                  <div class="user-activity-value">
                    <div class="unverified">
                      <span class="icon icon_unverified icon-margin"></span>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                          Not yet
                        </font>
                      </font>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="user-activity-label">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Last Active
                      </font>
                    </font>
                  </div>
                  <div class="user-activity-value">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        5 days ago
                      </font>
                    </font>
                  </div>
                </div>
                <div class="col-4">
                  <div class="user-activity-label">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Chat replied
                      </font>
                    </font>
                  </div>
                  <div class="user-activity-value">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Not available</font>
                    </font>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail__transaction tips-for-buyers">
            <div class="row">
              <div class="col-12 text-center">
                <img
                  src="https://www.jualo.com/assets/ic_tips-7b6315f280eed6383824ab9d17177d306a205f3bef40bfe63707cb3a2913600f.svg"
                  alt="Ic tips">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Tips for Buying Products from Sellers
                  </font>
                </font>
              </div>
              <div class="col-12 tips-details">
                <div class="tips-image">
                  <img
                    src="https://www.jualo.com/assets/buuy-safety-illustration-332b4bd3731d0c4275b4330df2ddb4e4237cb9501fc59004c09540baff790cd3.svg"
                    alt="Buuy safety illustration">
                </div>
                <div class="seller-tips-content">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Make sure you have checked the seller's profile and availability of goods before making a
                      transaction or any type of payment transfer directly to an account outside Jualo.com.
                    </font>
                  </font>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail__listing_product">
            <div class="product-detail__items">
              <div class="title">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Other seller's products
                  </font>
                </font>
              </div>
              <div class="item-listing-container iklan_penjual_container">
                <div class="item-wrapper">
                  <div class="item">
                    <a href="https://www.jualo.com/motor-honda/iklan-honda-cbr-150r-2018">
                      <div class="product-item__head">
                        <div class="product-item__image"><img alt="" backup_img="Honda Cbr 150R 2018"
                            src="https://storage.jualo.com/big_thumb/17093815/honda-cbr-150r-2018-motor-honda-17093815.jpg"
                            width="149" height="149"><span class="mask"></span></div>
                      </div>
                      <div class="product-item__body">
                        <div class="product-item__name product-item__name--small">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Honda Cbr 150R 2018
                            </font>
                          </font>
                        </div>
                        <div class="product-item__price product-item__price--small">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Rp. </font>
                            <font style="vertical-align: inherit;">27,000,000</font>
                          </font>
                        </div>
                      </div>
                      <div class="product-item__option">
                        <div class="product-item__info">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              Former
                            </font>
                          </font>
                        </div>
                        <div class="product-item__info">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Negotiable</font>
                          </font>
                        </div>
                      </div>
                      <div class="product-item-listing_footer">
                        <div class="product-item__location">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">City of Bandung, West Java</font>
                          </font>
                        </div>
                      </div>
                    </a>
                    <div class="iklan_penjual">
                      <span class="favourite-badge show">
                        <i class="fa fa-heart-o" data-ad-id="1782910895"
                          onclick="add_to_wishlist_from_ad_page(this)"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <script>dataLayer = [{ "pageGroup": "other", "persistentSessionId": null, "snowplowEndpoint": "snow.jualo.com", "gtmEnv": "snow.jualo.com", "statsApiAuth": "xQiaEMY6Ag95Drdrdc4Cr5jfppchbRUN6QmTmOlo", "statsApiEndpoint": "https://066tku605c.execute-api.ap-southeast-1.amazonaws.com/prod/statistics", "userId": 4950603, "userNrOfLiveProducts": 0, "userRating": 0, "userLocationCountry": "Indonesia", "userLocationState": "", "userLocationCity": "", "userLocationDistrict": "", "productAdId": 1783787079, "productUrl": "https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017", "productPrice": 48000000, "productStock": 999999000, "productOwnerUserId": 3667779, "productAvailableSince": "2019-05-11T14:46:02.000+07:00", "productTitle": "Yamaha Xmax Tahun 2017", "productCategoryId": 435, "productSellingPrice": 48000000, "wasSold": false, "productIsPremium": true, "productType": "Bekas", "productLocationCountry": "Indonesia", "productLocationState": "Jawa Barat", "productLocationCity": "Kota Bandung", "productLocationDistrict": "", "productCategory": "Motor", "productSubcategory": "Motor Baru \u0026 Bekas", "productSubsubcategory": "Yamaha", "locationAccessIsGranted": false, "pageHasImpressions": true, "impressions": [{ "ad_id": 1782910895, "seller_user_id": 3667779, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kota Bandung", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 1, "results_per_page": 2, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Honda" }, { "ad_id": 1783787079, "seller_user_id": 3667779, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kota Bandung", "is_premium": true, "page_number": 1, "total_pages": 1, "rank_on_page": 2, "results_per_page": 2, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }] }]</script>
              <!-- Google Tag Manager -->
              <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '&gtm_auth=ZcTS7o-bxyEtKkI8-cFgSQ&gtm_preview=env-2&gtm_cookies_win=x'; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-M9PT9SL');</script>
              <!-- End Google Tag Manager -->




            </div>
          </div>
          <div class="product-detail__adsense-medium">
            <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Native Banner Adsense Desktop -->
            <ins class="adsbygoogle" data-ad-client="ca-pub-1720575921318265" data-ad-slot="8353003794"
              style="display: inline-block; width: 300px; height: 250px;" data-adsbygoogle-status="done"><ins
                id="aswift_0_expand"
                style="display:inline-table;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent;"><ins
                  id="aswift_0_anchor"
                  style="display:block;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent;"><iframe
                    width="300" height="250" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0"
                    allowtransparency="true" scrolling="no" allowfullscreen="true"
                    onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                    id="aswift_0" name="aswift_0"
                    style="left:0;position:absolute;top:0;border:0px;width:300px;height:250px;"></iframe></ins></ins></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

          </div>
        </div>
      </div>
      <div class="col-12 product-detail__banner">
        <div class="jbanner" id="jbanner1"></div>
      </div>
      <div class="product-detail__ads">
        <div class="col-12 pad-0 title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Similar Ads
            </font>
          </font>
        </div>
        <div class="col-12 pad-0 more-like-this-listing">
          <div class="product-item">
            <a href="/motor-yamaha/iklan-yamaha-xmax-2017-warna-abu-doff-masculine-grey-like-new">
              <div class="product-item__head">
                <div class="product-item__badge"></div>
                <div class="product-item__image"><img alt=""
                    backup_img="Yamaha XMAX 2017 Warna Abu Doff / Masculine Grey||Like New"
                    src="https://storage.jualo.com/big_thumb/19644963/yamaha-xmax-2017-warn-motor-yamaha-19644963.jpg"
                    width="149" height="149"><span class="mask"></span></div>
              </div>
              <div class="product-item__body">
                <div class="product-item__name product-item__name--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Yamaha XMAX 2017 Color of Abu Doff / Masculine Gray || Like New
                    </font>
                  </font>
                </div>
                <div class="product-item__price product-item__price--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rp. </font>
                    <font style="vertical-align: inherit;">55,500,000</font>
                  </font>
                </div>
                <div class="product-item__option">
                  <div class="product-item__info">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Former
                      </font>
                    </font>
                  </div>

                </div>
                <div class="product-item_footer">
                  <div class="product-item__location">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">City of Bandung, West Java</font>
                    </font>
                  </div>
                  <div class="product-item__extra">

                  </div>
                </div>
              </div>
            </a>
            <div class="iklan_terikat">
              <span class="favourite-badge">
                <i class="fa fa-heart-o" data-ad-id="1783684415" onclick="add_to_wishlist_from_ad_page(this)"></i>
              </span>
            </div>
          </div>
          <div class="product-item">
            <a href="/motor-yamaha/iklan-yamaha-xmax-2018-bandung">
              <div class="product-item__head">
                <div class="product-item__badge"></div>
                <div class="product-item__image"><img alt="" backup_img="Yamaha Xmax 2018 Bandung"
                    src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/17157567/yamaha-xmax-2018-band-motor-yamaha-17157567.jpg"
                    width="149" height="149"><span class="mask"></span></div>
              </div>
              <div class="product-item__body">
                <div class="product-item__name product-item__name--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      2018 Yamaha Xmax Bandung
                    </font>
                  </font>
                </div>
                <div class="product-item__price product-item__price--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rp. </font>
                    <font style="vertical-align: inherit;">58,300,000</font>
                  </font>
                </div>
                <div class="product-item__option">
                  <div class="product-item__info">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Former
                      </font>
                    </font>
                  </div>

                </div>
                <div class="product-item_footer">
                  <div class="product-item__location">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">City of Bandung, West Java</font>
                    </font>
                  </div>
                  <div class="product-item__extra">

                  </div>
                </div>
              </div>
            </a>
            <div class="iklan_terikat">
              <span class="favourite-badge">
                <i class="fa fa-heart-o" data-ad-id="1782928575" onclick="add_to_wishlist_from_ad_page(this)"></i>
              </span>
            </div>
          </div>
          <div class="product-item">
            <a href="/motor-yamaha/iklan-yamaha-xmax-2017-6976946">
              <div class="product-item__head">
                <div class="product-item__badge"></div>
                <div class="product-item__image"><img alt="" backup_img="Yamaha Xmax 2017"
                    src="https://storage.jualo.com/big_thumb/19702235/yamaha-xmax-2017-motor-yamaha-19702235.jpg"
                    width="149" height="149"><span class="mask"></span></div>
              </div>
              <div class="product-item__body">
                <div class="product-item__name product-item__name--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      2017 Yamaha Xmax
                    </font>
                  </font>
                </div>
                <div class="product-item__price product-item__price--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rp. </font>
                    <font style="vertical-align: inherit;">53,500,000</font>
                  </font>
                </div>
                <div class="product-item__option">
                  <div class="product-item__info">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Former
                      </font>
                    </font>
                  </div>

                </div>
                <div class="product-item_footer">
                  <div class="product-item__location">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Kab. </font>
                      <font style="vertical-align: inherit;">Bogor, West Java</font>
                    </font>
                  </div>
                  <div class="product-item__extra">

                  </div>
                </div>
              </div>
            </a>
            <div class="iklan_terikat">
              <span class="favourite-badge">
                <i class="fa fa-heart-o" data-ad-id="1783702555" onclick="add_to_wishlist_from_ad_page(this)"></i>
              </span>
            </div>
          </div>
          <div class="product-item">
            <a href="/rumah-dijual/iklan-dapat-1-unit-yamaha-xmax-plus-5-juta-di-abdi-garden-cifor">
              <div class="product-item__head">
                <div class="product-item__badge"></div>
                <div class="product-item__image"><img alt=""
                    backup_img="Dapat 1 Unit Yamaha Xmax Plus 5 Juta Di Abdi Garden Cifor"
                    src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/17735995/dapat-1-unit-yamaha-x-rumah-dijual-17735995.jpg"
                    width="149" height="149"><span class="mask"></span></div>
              </div>
              <div class="product-item__body">
                <div class="product-item__name product-item__name--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Get 1 Unit of Plus 5 Million Yamaha Xmax at Abdi Garden Cifor
                    </font>
                  </font>
                </div>
                <div class="product-item__price product-item__price--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rp. </font>
                    <font style="vertical-align: inherit;">498,000,000</font>
                  </font>
                </div>
                <div class="product-item__option">
                  <div class="product-item__info">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        New
                      </font>
                    </font>
                  </div>

                </div>
                <div class="product-item_footer">
                  <div class="product-item__location">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">City of Bogor, West Java</font>
                    </font>
                  </div>
                  <div class="product-item__extra">
                    <div class="product-item__verified"><span class="icon icon_verify"></span>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">verified</font>
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="iklan_terikat">
              <span class="favourite-badge">
                <i class="fa fa-heart-o" data-ad-id="1783096747" onclick="add_to_wishlist_from_ad_page(this)"></i>
              </span>
            </div>
          </div>
          <div class="product-item">
            <a href="/motor-yamaha/iklan-yamaha-xmax-2017-4302493">
              <div class="product-item__head">
                <div class="product-item__badge"></div>
                <div class="product-item__image"><img alt="" backup_img="Yamaha XMAX 2017"
                    src="https://s3-ap-southeast-1.amazonaws.com/jualo/big_thumb/18255687/yamaha-xmax-2017-motor-yamaha-18255687.jpg"
                    width="149" height="149"><span class="mask"></span></div>
              </div>
              <div class="product-item__body">
                <div class="product-item__name product-item__name--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Yamaha XMAX 2017
                    </font>
                  </font>
                </div>
                <div class="product-item__price product-item__price--small">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rp. </font>
                    <font style="vertical-align: inherit;">52,000,000</font>
                  </font>
                </div>
                <div class="product-item__option">
                  <div class="product-item__info">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                        Former
                      </font>
                    </font>
                  </div>

                </div>
                <div class="product-item_footer">
                  <div class="product-item__location">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Denpasar City, Bali</font>
                    </font>
                  </div>
                  <div class="product-item__extra">

                  </div>
                </div>
              </div>
            </a>
            <div class="iklan_terikat">
              <span class="favourite-badge">
                <i class="fa fa-heart-o" data-ad-id="1783260263" onclick="add_to_wishlist_from_ad_page(this)"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <script>dataLayer = [{ "pageGroup": "other", "persistentSessionId": null, "snowplowEndpoint": "snow.jualo.com", "gtmEnv": "snow.jualo.com", "statsApiAuth": "xQiaEMY6Ag95Drdrdc4Cr5jfppchbRUN6QmTmOlo", "statsApiEndpoint": "https://066tku605c.execute-api.ap-southeast-1.amazonaws.com/prod/statistics", "userId": 4950603, "userNrOfLiveProducts": 0, "userRating": 0, "userLocationCountry": "Indonesia", "userLocationState": "", "userLocationCity": "", "userLocationDistrict": "", "productAdId": 1783787079, "productUrl": "https://www.jualo.com/motor-yamaha/iklan-yamaha-xmax-tahun-2017", "productPrice": 48000000, "productStock": 999999000, "productOwnerUserId": 3667779, "productAvailableSince": "2019-05-11T14:46:02.000+07:00", "productTitle": "Yamaha Xmax Tahun 2017", "productCategoryId": 435, "productSellingPrice": 48000000, "wasSold": false, "productIsPremium": true, "productType": "Bekas", "productLocationCountry": "Indonesia", "productLocationState": "Jawa Barat", "productLocationCity": "Kota Bandung", "productLocationDistrict": "", "productCategory": "Motor", "productSubcategory": "Motor Baru \u0026 Bekas", "productSubsubcategory": "Yamaha", "locationAccessIsGranted": false, "pageHasImpressions": true, "impressions": [{ "ad_id": 1782928575, "seller_user_id": 3688835, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kota Bandung", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 1, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }, { "ad_id": 1783096747, "seller_user_id": 2675679, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kota Bogor", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 2, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Properti", "subcategory": "Rumah", "subsubcategory": "Dijual" }, { "ad_id": 1783260263, "seller_user_id": 4708135, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Bali", "city": "Kota Denpasar", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 3, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }, { "ad_id": 1783299235, "seller_user_id": 4746319, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "DKI Jakarta", "city": "Kota Jakarta Selatan", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 4, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }, { "ad_id": 1783684415, "seller_user_id": 748357, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kota Bandung", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 5, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }, { "ad_id": 1783702555, "seller_user_id": 4693659, "search_query": null, "listing_type": "similiar product", "country": "Indonesia", "state": "Jawa Barat", "city": "Kab. Bogor", "is_premium": false, "page_number": 1, "total_pages": 1, "rank_on_page": 6, "results_per_page": 6, "platform": "web", "user_id": 4950603, "user_country": "Indonesia", "user_state": null, "user_city": null, "category": "Motor", "subcategory": "Motor Baru \u0026 Bekas", "subsubcategory": "Yamaha" }] }]</script>
      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '&gtm_auth=ZcTS7o-bxyEtKkI8-cFgSQ&gtm_preview=env-2&gtm_cookies_win=x'; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-M9PT9SL');</script>
      <!-- End Google Tag Manager -->




      <div class="col-12 product-detail__adsense" style="margin: 0px; padding: 0px; border-width: 0px;">
        <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Native Banner Adsense Desktop -->
        <ins class="adsbygoogle" data-ad-client="ca-pub-1720575921318265" data-ad-slot="9941417634"
          style="display: inline-block; width: 0px; height: 0px;" data-adsbygoogle-status="done"><ins
            id="aswift_1_expand"
            style="display: inline-table; border: none; height: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 0px; background-color: transparent;"><ins
              id="aswift_1_anchor"
              style="display: block; border: none; height: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 0px; background-color: transparent; overflow: hidden; opacity: 0;"><iframe
                width="728" height="90" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0"
                allowtransparency="true" scrolling="no" allowfullscreen="true"
                onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                id="aswift_1" name="aswift_1"
                style="left:0;position:absolute;top:0;border:0px;width:728px;height:90px;"></iframe></ins></ins></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </div>
    </div>
  </div>
</section>