<section class="row full-width product-detail">
  <div class="container">
    <div class="col-12">
      <%= render partial: "category_select", locals: { product: @product_detail } %>
      <%= render partial: "content_product", locals: { product: @product_detail, product_images: @product_images } %>
    </div>
  </div>
</section>