<section class="full-width brand-section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= render partial: "list_brand", 
          locals: { 
            title_brand: "Motor Official Brand",
            brands: @brands_motor
          } 
        %>
      </div>
      <div class="col-6" style="padding-left: 0px !important;">
        <%= render partial: "list_brand", 
          locals: { 
            title_brand: "Car Official Brand",
            brands: @brands_car
          } 
        %>
      </div>
    </div>
  </div>
</section>