<section class="full-width main-content">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="category" id="categoryMenu">
          <div class="category__title">
            <%= content_tag(:span, "Category") %>
          </div>
          <ul class="category__container">
            <%= render "category" %>
          </ul>
        </div>
      </div>
      <%= render "banner" %>
    </div>
  </div>
</section>