<ul class="category__container">
  <% @categories.each do |category| %>
  <li class="category__menu">
    <a data-id="127" class="category__link" onclick="document.cookie='category_ids=127_59_40_57_119_38_79_42'">
      <span class="icon icon_kategori-motor"></span>
      <span class="name">
        <%= category.name %>
        <span class="hot">hot</span>
      </span>
    </a>
    <!-- <div class="category__sub-menu">
      <ul class="sub-menu-container">
        <li class="category__sub-title">
          <a class="subcategory_link" href="/motor">Lihat semua iklan
            <span>di Motor </span>
          </a></li>
        <li>
          <ul>
            <li>
              <a data-id="Aksesoris Berkendara " class="subcategory_link"
                onclick="document.cookie='category_ids=101_104_108_66818_10525_14210_66904_66906_66908_66909_66910_66946_67231_67233_67235_67237_66802_66852_66853_66857_66864_66879_66880_66885_66960_67301_67303_67304_67305_67306_67308_86_87_90_93_97_100_66753_66918_66754_66755_66901_66902_66903_67000_67017_67018_67300_66939_66970_67013_67400_66871_66873_67293_67296_66844_66845_66846_66847_66848_67219_67058_67276_67283_67291_67292_56_120_125_55_66944_66980_67123_60_61_65_70_73_78_111_113_116_67312_67314_67319_67322'"
                href="/motor/aksesoris-berkendara">Aksesoris Berkendara </a>
            </li>
            <li>
              <a data-id="Aksesoris Motor " class="subcategory_link"
                onclick="document.cookie='category_ids=101_104_108_66818_10525_14210_66904_66906_66908_66909_66910_66946_67231_67233_67235_67237_66802_66852_66853_66857_66864_66879_66880_66885_66960_67301_67303_67304_67305_67306_67308_86_87_90_93_97_100_66753_66918_66754_66755_66901_66902_66903_67000_67017_67018_67300_66939_66970_67013_67400_66871_66873_67293_67296_66844_66845_66846_66847_66848_67219_67058_67276_67283_67291_67292_56_120_125_55_66944_66980_67123_60_61_65_70_73_78_111_113_116_67312_67314_67319_67322'"
                href="/motor/aksesoris-motor">Aksesoris Motor </a>
            </li>
            <li>
              <a data-id="Motor Baru &amp; Bekas " class="subcategory_link"
                onclick="document.cookie='category_ids=101_104_108_66818_10525_14210_66904_66906_66908_66909_66910_66946_67231_67233_67235_67237_66802_66852_66853_66857_66864_66879_66880_66885_66960_67301_67303_67304_67305_67306_67308_86_87_90_93_97_100_66753_66918_66754_66755_66901_66902_66903_67000_67017_67018_67300_66939_66970_67013_67400_66871_66873_67293_67296_66844_66845_66846_66847_66848_67219_67058_67276_67283_67291_67292_56_120_125_55_66944_66980_67123_60_61_65_70_73_78_111_113_116_67312_67314_67319_67322'"
                href="/motor/baru-dan-bekas">Motor Baru &amp; Bekas </a>
            </li>
            <li>
              <a data-id="Sparepart Motor " class="subcategory_link"
                onclick="document.cookie='category_ids=101_104_108_66818_10525_14210_66904_66906_66908_66909_66910_66946_67231_67233_67235_67237_66802_66852_66853_66857_66864_66879_66880_66885_66960_67301_67303_67304_67305_67306_67308_86_87_90_93_97_100_66753_66918_66754_66755_66901_66902_66903_67000_67017_67018_67300_66939_66970_67013_67400_66871_66873_67293_67296_66844_66845_66846_66847_66848_67219_67058_67276_67283_67291_67292_56_120_125_55_66944_66980_67123_60_61_65_70_73_78_111_113_116_67312_67314_67319_67322'"
                href="/motor/sparepart-motor">Sparepart Motor </a>
            </li>
          </ul>
        </li>
      </ul>
      <span class="category-scroll-down">
        <span class="icon icon_dropdown-black"></span>
      </span>
    </div> -->
  </li>
  <% end %>
</ul>