<div class="brand-listing">
  <div class="brand-listing-head">
    <div class="pull-left">
      <%= content_tag(:span, title_brand) %>
    </div>
    <div class="pull-right">
      <a class="button button--block" href="/motor/baru-dan-bekas">See all</a>
    </div>
  </div>
  <div class="brand-listing-body">
    <% brands.each do |brand| %>
    <div class="brand-list-item">
      <%= link_to brand do %>
      <%= image_tag brand.image %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>